/* Formular-Styling */

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white; /* Schriftfarbe auf weiß ändern */
}

.form-group {
  margin-bottom: 20px;
  width: 300px;
}

label {
  color: #e26f69; /* Farbe für die Überschriften festlegen */
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #e26f69;
  border-radius: 5px;
  color: black; /* Schriftfarbe auf schwarz ändern */
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #e26f69;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #bf4c47;
}

h1 {
  text-align: center; /* Text in der Mitte zentrieren */
  color: #e26f69; /* Farbe für den Text festlegen */
}
/* Weitere CSS-Regeln können hier ergänzt werden, um das Formular anzupassen */
