/* Formular-Styling */

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white; /* Schriftfarbe auf weiß ändern */
}

.form-group {
  margin-bottom: 20px;
  width: 300px;
}

body::-webkit-scrollbar {
  width: 10px; /* Breite der Scroll-Leiste anpassen */
}

body::-webkit-scrollbar-track {
  background-color: #ccc; /* Hintergrundfarbe der Scroll-Leiste */
}

body::-webkit-scrollbar-thumb {
  background-color: #888; /* Farbe des Scroll-Leisten-Thumb */
  border-radius: 5px; /* Abgerundete Ecken des Scroll-Leisten-Thumb */
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Farbe des Scroll-Leisten-Thumb bei Hover */
}


label {
  color: #e26f69; /* Farbe für die Überschriften festlegen */
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #e26f69;
  border-radius: 5px;
  color: black; /* Schriftfarbe auf schwarz ändern */
}

button[type="search"] {
  padding: 10px 20px;
  background-color: #e26f69;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="search"]:hover {
  background-color: #bf4c47;
}

h1 {
  text-align: center; /* Text in der Mitte zentrieren */
  color: #e26f69; /* Farbe für den Text festlegen */
}

h2 {
    font-size: 28px;
    line-height: 30px;
    text-align: center;
    color: #eee;
    margin-block-start: 40px;
    margin-block-end: 30px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.custom-select {
  position: relative;
  display: inline-block;
  width: 100%;
}

.custom-select select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: #fff;
  color: #000;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}

.select-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
}

.select-icon i {
  color: #e26f69;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 350px; /* Breite der Suchleiste anpassen */
  margin: 0 auto;
  margin-bottom: 20px;
  border-radius: 5px;
  background-color: white;
}

.search-bar input[type="text"] {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: white;
  color: #241313;
}



.search-bar button[type="search"] {
  background-color: #e26f69;
  color: white;
  border: none;
  padding: 10px;
  width: 80px;
  border-radius: 5px;
  cursor: pointer;
}
.search-bar button[type="search"]:hover {
  box-shadow: 2px 1px 15px rgba(226, 111, 105, 1);
  
}
.search-bar button[type="search"]:active {
  background-color: #993c39;
}






/* Ranking List */


.ranking-container {
 
  background-color: rgba(0, 0, 0, 0.5); /* Transparentes Schwarz */
  padding: 20px;
  border-radius: 5px;
  color: #fff;
  border:none;
  margin-top: 20px;
  margin: 60px 100px; /* Hinzugefügt: 20px oben/unten, 10px links/rechts */
  text-align: center; /* Zentriert den Inhalt */
  overflow: auto;
}


.ranking-table {
  background-color: rgba(38, 37, 37, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.8); /* Horizontale Verschiebung, vertikale Verschiebung, Weichheit, Farbe */
    padding: 10px;
    padding-top: 12px;
    padding-bottom: 15px;
    border-radius: 15px;
  margin-top: 20px;
  margin: 60px 15%; /* Hinzugefügt: 20px oben/unten, 10px links/rechts */
  text-align: center;
  overflow: auto;
}

.ranking-header {
  display: flex;
  border-radius: 10px;
  background-color: rgba(22, 10, 10, 1); /* Transparentes Schwarz */
  font-weight: bold;
  padding: 10px;
  color: #ffff;
  box-shadow: 0 10px 7px rgba(0, 0, 0, 1);
  border-bottom: 3px solid #e26f69; /* Untere Trennlinie hinzufügen */
}

.ranking-column {
  flex: 1;
  padding: 10px;
  border: none; /* Rand entfernen */
}

.column-cell-name {
  flex: 1;
  padding: 10px;
  border: none; /* Rand entfernen */
}

.column-cell-badge {
  flex: 1;
  padding: 10px;
  border: none; /* Rand entfernen */
}

.column-cell-guild {
  flex: 1;
  padding: 10px;
  border: none; /* Rand entfernen */
}

.column-cell-tier {
  flex: 1;
  padding: 10px;
  border: none; /* Rand entfernen */
}

.column-cell-compl {
  flex: 1;
  padding: 10px;
  border: none; /* Rand entfernen */
}

.ranking-row {
  display: flex;
  font-size: 14px; /* Neue Schriftgröße festlegen */
  background-color: rgba(38, 37, 37, 0.8); /* Transparentes Schwarz */
  align-items: center; /* Elemente vertikal zentriert ausrichten */
  padding: 6px;
  box-shadow: 0 10px 7px rgba(0, 0, 0, 1);
  border-radius: 7px;
  color: #ffff;
  
  border-bottom: 1px solid #e26f69; /* Untere Trennlinie hinzufügen */
}

/* CSS für die Header-Spalten */
.column-name {
  flex: 1;
}

.column-badge {
  flex: 1;
}

.column-guild {
  flex: 1;
}

.column-ranking {
  flex: 1;
}

.column-completions {
  flex: 1;
}


/* Weitere CSS-Anpassungen können hier ergänzt werden */




.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.page-link {
  padding: 5px 10px;
  text-decoration: none;
  color: #e26f69;
  border: 1px solid #e26f69;
  border-radius: 3px;
  margin-right: 5px;
}

.page-link:hover {
  background-color: #e26f69;
  color: white;
}

.page-link.active {
  background-color: #e26f69;
  color: white;
}

 
  
.badge-rank1::before {
  content: "";
  position: relative;
  width: 20px;
  height: 20px;
  background-image: url("https://raw.githubusercontent.com/Glaciermane/Nebra/main/Rank1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.badge-rank2 {
  content: "";
  position: relative;
  width: 20px;
  height: 20px;
  background-image: url("https://raw.githubusercontent.com/Glaciermane/Nebra/main/Rank2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.badge-rank3 {
  content: "";
  position: relative;
  width: 20px;
  height: 20px;
  background-image: url("https://raw.githubusercontent.com/Glaciermane/Nebra/main/Rank3.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}






.badge-grandmaster {
  content: "";
  position: relative;
  width: 30px;
  height: 30px;
  background-image: url("https://raw.githubusercontent.com/Glaciermane/Nebra/main/S%2B.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}


.badge-master {
  content: "";
  position: relative;
  width: 30px;
  height: 30px;
  background-image: url("https://raw.githubusercontent.com/Glaciermane/Nebra/main/S.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
 
.badge-expert {
  content: "";
  position: relative;
  width: 30px;
  height: 30px;
  background-image: url("https://raw.githubusercontent.com/Glaciermane/Nebra/main/A.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.badge-mid {
  content: "";
  position: relative;
  width: 30px;
  height: 30px;
  background-image: url("https://raw.githubusercontent.com/Glaciermane/Nebra/main/B.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
  
.badge-average {
  content: "";
  position: relative;
  width: 30px;
  height: 30px;
  background-image: url("https://raw.githubusercontent.com/Glaciermane/Nebra/main/C.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.badge-rookie {
  content: "";
  position: relative;
  width: 30px;
  height: 30px;
  background-image: url("https://raw.githubusercontent.com/Glaciermane/Nebra/main/D.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.badge-dev {
  content: "";
  position: relative;
  width: 20px;
  height: 27px;
  background-image: url("https://raw.githubusercontent.com/Glaciermane/Nebra/main/IMG_4668.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}



/* Weitere CSS-Regeln können hier ergänzt werden, um das Formular anzupassen */



