


.player-list {
  background-color: #F2F2F2; /* Hintergrundfarbe */
  color: #e26f69; /* Schriftfarbe */
  font-weight: bolder;
  padding: 10px;
  border-radius: 10px;
}

.player-list li {
  margin: 5px 0;
}

.player-list input {
  margin-top: 10px;
  padding: 5px;
  border-radius: 5px;
}
